<!doctype html>
{%load blog_tags%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/blog.css' %}">
</head>
<body>
{%block body%}
{%endblock%}
<div class="sidebar">
    <h2>durga's blog</h2>
    <p>the total number of published posts upto today: {%mytag%}</p>
    <h3>Latest Posts: </h3>{%show_latest_posts%}
    <h3>Most Commented Post: </h3>

</div>
</body>
</html>